screen_down <C-d>
screen_down d
screen_up <C-u>
screen_up u
next_page <C-l>
previous_page <C-h>

# These need to be backwards for natural scrolling
move_left <C-S-l>
move_right <C-S-h>

# Special goto
goto_top_of_page;goto_right g<C-S-l>
goto_top_of_page;goto_left g<C-S-h>

toggle_custom_color <C-`>
toggle_custom_color <C-#>
