## Startup commands
startup_commands toggle_scrollbar

# Base options
super_fast_search 1
case_sensitive_search 0

# Others
page_separator_width 2
middle_click_search_engine              g
shift_middle_click_search_engine        s
highlight_color_y                       1.00 0.90 0.05

shared_database_path    G:\ddrive\Learning\Readings\shared.db
paper_folder_path       G:\ddrive\Learning\Readings\Papers\

custom_background_color 0.180 0.204 0.251
custom_text_color       0.925 0.910 0.885

# If fonts are blurry
linear_filter 0
